<!-- home.html -->
{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h2>Welcome to MelodyMeals</h2>
    <p>Match your favorite playlists to personalized recipes!</p>
    <form action="/submit" method="post" class="text-center mt-4">
        <div class="mb-3">
            <label for="playlist_link" class="form-label">Enter Spotify Playlist Link:</label>
            <input type="url" id="playlist_link" name="playlist_link" class="form-control w-50 mx-auto" placeholder="https://open.spotify.com/playlist/..." required>
        </div>
        <button type="submit" class="btn btn-primary">Get Recipes</button>
    </form>
</div>
{% endblock %}